*{
  box-sizing: border-box;
}
body{
  background-color:
}
header{
  width: 1000px;
  border: 1px solid red;
}
ol{
  list-style-type: none;
}
ol > li{
  float: left;
  display: block;
  margin-right: 20px;
  font-size: 10px;
}
.one{
  width: 50%;
  float: left;
  border  : 1px solid black;
  font-size: 10px;
}
.two{
  float: right;
}
.h3{
  padding: 0;
}
